<a href="https://colab.research.google.com/github/addalasaikishore/kishore_INFO5731_SPRING2021/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import math
import pandas as pd
k=math.pi
r=[]
v=[]
for i in range(1,11):
    c=round((4/3)*k*i,2)
    r.append(i)
    v.append(c)
df=pd.DataFrame()
df["r"]=r
df["v"]=v
df.set_index("r",inplace=True)
df

        v
r
1    4.19
2    8.38
3   12.57
4   16.76
5   20.94
6   25.13
7   29.32
8   33.51
9   37.70
10  41.89